
        h1{color: rgb(221, 13, 41);
        }
        img{
            width: 400px;
        }
        #thirdDiv{
            height: 600px;
            width: 500px;
            background-color: rgba(10, 58, 3, 0.842);
        }
        #spanid{
            font-size: 10px;
            margin: 5px;
        }
        .divClass{
            padding: 50px;
            border: 5px solid rgb(7, 50, 240);
        }